.course_why_buy {
  @apply flex flex-col gap-8 items-center;
  h3 {
    @apply text-white sm:text-[40px] text-[22px] text-center not-italic font-bold leading-[normal] uppercase;
  }
  .card {
    @apply grid lg:grid-cols-2 gap-3 flex-[1_0_0] border p-4 rounded-2xl border-solid border-[#4D4D4D];
    background: #222;
    &_content {
      @apply flex flex-col justify-center items-start gap-3 flex-[1_0_0] px-4 lg:py-0 py-5 rounded-xl lg:text-left text-center;
      background: #6850ff;
      h5 {
        @apply text-white text-lg not-italic font-bold leading-[120%];
      }
      p {
        @apply text-white text-xs not-italic font-normal leading-[130%];
      }
    }
    &_image {
      @apply h-[200px] overflow-hidden rounded-xl lg:block hidden;
      &_hidden {
        @apply h-[200px] overflow-hidden rounded-xl lg:hidden block;
      }
    }
  }
  a {
    @apply flex items-start gap-2.5 shadow-[0px_15px_36px_0px_rgba(198,49,251,0.3)] text-white text-xl not-italic font-medium leading-[normal] tracking-[0.8px] px-16 py-[30px] rounded-[20px];
    background: linear-gradient(84deg, #6950ff 0%, #c631fb 100%);
  }
}
