.student_feedback {
  @apply flex flex-col gap-10;
  h3 {
    @apply text-white sm:text-[40px] text-[22px] text-center not-italic font-bold leading-[normal] uppercase text-center;
  }
  .card {
    @apply border rounded-2xl border-solid border-[#4D4D4D] px-[30px] pt-8 pb-7 flex flex-col gap-8;
    background: #222;
    p {
      @apply text-white sm:text-xl not-italic font-medium leading-[normal];
    }
    span {
      @apply text-white text-lg not-italic font-medium leading-[normal];
    }
    img {
      width: 69px;
      height: 69px;
      @apply rounded-full object-cover;
    }
  }
  .swiper {
    @apply w-full pb-11;
  }
}
