.congratulation_section {
  @apply flex flex-col gap-10 items-center;
}
.icon {
  img {
    width: 120px;
  }
}
.text_content {
  @apply text-center flex flex-col gap-4 md:px-6;
}
.text_content h3 {
  @apply text-black text-center text-[28px] not-italic font-medium leading-[normal] tracking-[0.84px] uppercase;
}
.text_content h2 {
  @apply text-[#00B031] text-center text-4xl not-italic font-bold leading-[110%] mb-2;
}
.text_content p {
  @apply text-black text-center text-2xl not-italic font-medium leading-[140%];
}

.button_group {
  @apply grid md:grid-cols-2 grid-cols-1 gap-2 w-full;
}
.button_group .home_link {
  border-radius: 43px;
  background: linear-gradient(84deg, #6950ff 0%, #c631fb 100%);
  box-shadow: 0px 15px 36px 0px rgba(97, 203, 255, 0.22);
  @apply flex h-[62px] justify-center items-center gap-3 flex-[1_0_0] text-white text-base not-italic font-medium leading-[normal] px-12 py-[18px];
}
.button_group .instagram_link {
  border-radius: 43px;
  background: linear-gradient(
      40deg,
      #ff6b00 -6.48%,
      #ff017b 48.79%,
      #e001c0 103.15%
    ),
    #036be5;

  box-shadow: 0px 15px 36px 0px rgba(97, 203, 255, 0.22);
  @apply flex h-[62px] justify-center items-center gap-3 flex-[1_0_0] text-white text-base not-italic font-medium leading-[normal] px-12 py-[18px];
}
html[class="dark"] {
  .text_content h3 {
    @apply text-white;
  }
  .text_content p {
    @apply text-white;
  }
}
